/* line 3, sass/globalhungary.scss */
.fusion-main-menu {
  position: absolute;
  float: none;
  bottom: 0;
  right: 0; }

/* line 10, sass/globalhungary.scss */
body, html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+50,f5f5f5+100 */
  background: whitesmoke;
  /* Old browsers */
  background: -moz-linear-gradient(left, whitesmoke 0%, white 50%, whitesmoke 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, whitesmoke 0%, white 50%, whitesmoke 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 );
  /* IE6-9 */ }

/* line 21, sass/globalhungary.scss */
body.home #main {
  margin-top: -150px; }

/* line 26, sass/globalhungary.scss */
.avada-skin-rev {
  border: none !important; }

/* line 30, sass/globalhungary.scss */
input[type=checkbox] {
  display: none; }

/* line 33, sass/globalhungary.scss */
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px; }
  /* line 38, sass/globalhungary.scss */
  input[type=checkbox] + label:before {
    content: "\f096";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #a7a7a7;
    line-height: 20px;
    padding: 0;
    margin: 0; }

/* line 51, sass/globalhungary.scss */
input[type=checkbox]:checked + label:before {
  content: "\f046";
  color: #000000; }

/* line 58, sass/globalhungary.scss */
.boxed-labels input[type=checkbox] {
  display: none; }
/* line 61, sass/globalhungary.scss */
.boxed-labels input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  background: #ebeded;
  border: 2px solid #d9d9d9;
  padding: 8px;
  text-align: left;
  padding-left: 30px;
  color: #26292b !important; }
  /* line 71, sass/globalhungary.scss */
  .boxed-labels input[type=checkbox] + label:before {
    content: "\f0c8";
    font-family: 'FontAwesome';
    position: absolute;
    left: 8px;
    color: #ffffff; }
/* line 79, sass/globalhungary.scss */
.boxed-labels input[type=checkbox]:checked + label {
  background: #bf393c;
  border: 2px solid #a92b2e;
  color: white !important; }
  /* line 84, sass/globalhungary.scss */
  .boxed-labels input[type=checkbox]:checked + label:before {
    content: "\f046";
    color: #ffffff; }

/* line 91, sass/globalhungary.scss */
.fusion-main-menu > ul > li {
  position: relative;
  border-right: 2px solid #333b3b;
  padding: 0 20px 0 45px !important; }
  /* line 96, sass/globalhungary.scss */
  .fusion-main-menu > ul > li:before {
    content: "";
    width: 24px;
    height: 45px;
    line-height: 45px;
    background-image: url("../../images/menu-li-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 10px;
    top: -2px; }

/* line 112, sass/globalhungary.scss */
.trans-on,
.fusion-social-network-icon {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

/* line 118, sass/globalhungary.scss */
#main {
  background-image: url("../../images/cityscape-overlay-bottom-fullwidth.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
  min-height: 350px; }

/* line 126, sass/globalhungary.scss */
.top-float-menubar {
  color: #91999c;
  position: absolute;
  right: 0;
  top: 0; }
  /* line 132, sass/globalhungary.scss */
  .top-float-menubar a {
    color: #91999c; }
  /* line 137, sass/globalhungary.scss */
  .top-float-menubar .menu-holder > div {
    margin: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    line-height: 45px; }
  /* line 146, sass/globalhungary.scss */
  .top-float-menubar .menu-holder .accounts {
    border: 1px solid #333b3b;
    border-top: none;
    margin: 0 0 0 -1px; }
    /* line 151, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .accounts a {
      display: block;
      padding: 0 20px; }
    /* line 156, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .accounts .ico {
      float: left;
      margin-right: 5px; }
      /* line 159, sass/globalhungary.scss */
      .top-float-menubar .menu-holder .accounts .ico img {
        height: 45px;
        width: 20px;
        margin-top: -4px; }
  /* line 167, sass/globalhungary.scss */
  .top-float-menubar .menu-holder .notify-icos {
    height: 45px;
    line-height: 45px; }
    /* line 170, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .notify-icos a {
      display: block;
      padding: 0 15px; }
    /* line 175, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .notify-icos > div {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      line-height: 45px;
      height: 45px;
      max-height: 45px;
      position: relative; }
      /* line 185, sass/globalhungary.scss */
      .top-float-menubar .menu-holder .notify-icos > div a {
        margin: 0 0 0 -1px;
        border: 1px solid #333b3b;
        border-top: none;
        height: 45px; }
        /* line 191, sass/globalhungary.scss */
        .top-float-menubar .menu-holder .notify-icos > div a:hover {
          background: #0e0f10; }
      /* line 196, sass/globalhungary.scss */
      .top-float-menubar .menu-holder .notify-icos > div .fnl {
        position: absolute;
        background: #f00;
        line-height: 18px;
        font-size: 9px;
        color: #fff;
        border-radius: 40px;
        width: 18px;
        font-weight: bold;
        text-align: center;
        bottom: -8px;
        right: 5px; }
    /* line 212, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .notify-icos .notify-favorite img {
      height: 44px;
      width: 18px;
      line-height: 44px; }
    /* line 219, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .notify-icos .notify-newhouse img {
      height: 45px;
      width: 22px;
      line-height: 45px; }
  /* line 227, sass/globalhungary.scss */
  .top-float-menubar .menu-holder .contact {
    border: 1px solid #333b3b;
    border-top: none;
    padding: 0 20px;
    font-size: 1.5em;
    color: #b2b2b2;
    font-weight: bold; }
    /* line 235, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .contact i {
      margin-right: 8px; }
  /* line 241, sass/globalhungary.scss */
  .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-networks-wrapper {
    margin: 0 !important; }
  /* line 244, sass/globalhungary.scss */
  .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-network-icon {
    margin: 0 0 0 -1px !important;
    padding: 0 15px !important;
    height: 46px !important;
    line-height: 45px !important;
    border: 1px solid #333b3b !important;
    border-top: none !important; }
    /* line 252, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-network-icon.fusion-facebook:hover {
      background: #3762bd; }
      /* line 254, sass/globalhungary.scss */
      .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-network-icon.fusion-facebook:hover:before {
        color: white !important; }
    /* line 258, sass/globalhungary.scss */
    .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-network-icon.fusion-googleplus:hover {
      background: #fd552d; }
      /* line 260, sass/globalhungary.scss */
      .top-float-menubar .menu-holder .socials .fusion-social-networks .fusion-social-network-icon.fusion-googleplus:hover:before {
        color: white !important; }

/* line 269, sass/globalhungary.scss */
.center {
  text-align: center; }

/* line 272, sass/globalhungary.scss */
.right {
  text-align: right; }

/* line 275, sass/globalhungary.scss */
.left {
  text-align: left; }

/* line 279, sass/globalhungary.scss */
.data-table {
  border: 1px solid #e4e4e4;
  background: #ffffff;
  margin-top: 15px; }
  /* line 283, sass/globalhungary.scss */
  .data-table .data-head {
    border-bottom: 2px solid #e31f24; }
    /* line 285, sass/globalhungary.scss */
    .data-table .data-head .row {
      margin: 0; }
      /* line 287, sass/globalhungary.scss */
      .data-table .data-head .row > div[class*=col-md] {
        padding: 10px 5px;
        font-size: 0.8em;
        color: #888888;
        text-align: center;
        vertical-align: middle; }
  /* line 296, sass/globalhungary.scss */
  .data-table .data-body {
    font-size: 0.8em; }
    /* line 298, sass/globalhungary.scss */
    .data-table .data-body .row {
      margin: 0; }
      /* line 300, sass/globalhungary.scss */
      .data-table .data-body .row > div[class*=col-md] {
        padding: 10px; }
    /* line 304, sass/globalhungary.scss */
    .data-table .data-body .row:nth-child(even) {
      background: #f7f7f7; }

/* line 310, sass/globalhungary.scss */
h1 .badge {
  background: #d9d9d9;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  color: #888; }

/* line 320, sass/globalhungary.scss */
small.inputhint {
  color: #9c9c9c; }

/* line 324, sass/globalhungary.scss */
h1 .region {
  font-size: 0.65em;
  color: #c34646; }

/* line 329, sass/globalhungary.scss */
.submit-property {
  margin: 50px 0 50px 0; }
  /* line 332, sass/globalhungary.scss */
  .submit-property button[type=submit] {
    cursor: pointer;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    background: #e31f24;
    font-size: 1.2em;
    border: 2px solid #d9d9d9;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1; }
    /* line 345, sass/globalhungary.scss */
    .submit-property button[type=submit]:hover {
      background: #b8171b; }

/* line 352, sass/globalhungary.scss */
.dashboard-label.status-label {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  line-height: 20px;
  font-size: 0.8em;
  font-weight: bold; }

/* line 364, sass/globalhungary.scss */
form.wide-form .row {
  margin-bottom: 15px; }
  /* line 365, sass/globalhungary.scss */
  form.wide-form .row label {
    color: #696969;
    font-size: 0.9em;
    margin-bottom: 5px;
    display: block; }
  /* line 374, sass/globalhungary.scss */
  form.wide-form .row input[type=text],
  form.wide-form .row input[type=number],
  form.wide-form .row select,
  form.wide-form .row textarea {
    line-height: 40px;
    height: 40px;
    padding: 0 8px;
    font-size: 1.3em;
    border: 1px solid #c3c3c3;
    -webkit-box-shadow: inset 0 -2px 0 #e2e2e2;
    -moz-box-shadow: inset 0 -2px 0 #e2e2e2;
    box-shadow: inset 0 -2px 0 #e2e2e2;
    color: #b8171b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%; }
  /* line 390, sass/globalhungary.scss */
  form.wide-form .row select, form.wide-form .row textarea {
    width: 100%; }
  /* line 394, sass/globalhungary.scss */
  form.wide-form .row .noinp-data {
    line-height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    color: black; }
/* line 404, sass/globalhungary.scss */
form.wide-form h3 {
  text-transform: uppercase;
  color: black;
  margin: 40px 0 10px 0;
  font-size: 20px; }
/* line 411, sass/globalhungary.scss */
form.wide-form .wp-editor-container {
  border: 1px solid #e5e5e5; }
/* line 414, sass/globalhungary.scss */
form.wide-form .wp-editor-wrap {
  margin-top: -30px; }
/* line 417, sass/globalhungary.scss */
form.wide-form .reqf > label:after {
  content: " *";
  color: #e31f24;
  font-size: 0.9em; }
/* line 424, sass/globalhungary.scss */
form.wide-form .allowvalidate label {
  font-weight: bold;
  font-size: 1.1em;
  color: black; }
  /* line 429, sass/globalhungary.scss */
  form.wide-form .allowvalidate label:before {
    margin-top: 4px; }

/* line 438, sass/globalhungary.scss */
footer .fusion-widget-area .fusion-footer-widget-column {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 -2px;
  width: 60%; }
/* line 447, sass/globalhungary.scss */
footer .fusion-widget-area .fusion-footer-widget-column:first-child,
footer .fusion-widget-area .fusion-footer-widget-column:last-child {
  width: 20%; }
/* line 451, sass/globalhungary.scss */
footer .footerlogo-holder {
  margin-top: 20px; }
  /* line 453, sass/globalhungary.scss */
  footer .footerlogo-holder .logo {
    text-align: center; }
    /* line 455, sass/globalhungary.scss */
    footer .footerlogo-holder .logo img {
      margin: 0 auto;
      height: 40px; }
/* line 461, sass/globalhungary.scss */
footer .widget .fusion-social-networks .fusion-social-network-icon {
  border: 2px solid #333b3b !important;
  border-top: none;
  margin: 0 -1px;
  padding: 12px;
  font-size: 14px; }
/* line 469, sass/globalhungary.scss */
footer .widget_nav_menu ul.menu {
  margin-top: 20px; }
  /* line 471, sass/globalhungary.scss */
  footer .widget_nav_menu ul.menu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 10px;
    border: none !important; }
    /* line 478, sass/globalhungary.scss */
    footer .widget_nav_menu ul.menu li a {
      color: #e8e8e0; }
      /* line 481, sass/globalhungary.scss */
      footer .widget_nav_menu ul.menu li a:before {
        display: none; }
    /* line 486, sass/globalhungary.scss */
    footer .widget_nav_menu ul.menu li.current-menu-item a {
      color: white !important; }

/* line 496, sass/globalhungary.scss */
.gh_control_panel #main {
  padding-top: 0 !important; }
/* line 500, sass/globalhungary.scss */
.gh_control_panel .gn_control_content_container {
  position: relative; }
  /* line 503, sass/globalhungary.scss */
  .gh_control_panel .gn_control_content_container .gh_control_sidebar {
    width: 20%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: -55px;
    -webkit-box-shadow: 0 10px 25px -12px #4f5959;
    -moz-box-shadow: 0 10px 25px -12px #4f5959;
    box-shadow: 0 10px 25px -12px #4f5959; }
    /* line 514, sass/globalhungary.scss */
    .gh_control_panel .gn_control_content_container .gh_control_sidebar ul, .gh_control_panel .gn_control_content_container .gh_control_sidebar li {
      margin: 0;
      padding: 0;
      list-style: none; }
    /* line 522, sass/globalhungary.scss */
    .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li a {
      display: block;
      font-size: 1em;
      padding: 10px; }
      /* line 527, sass/globalhungary.scss */
      .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li a i {
        margin-right: 5px;
        width: 16px;
        text-align: center; }
      /* line 533, sass/globalhungary.scss */
      .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li a:hover {
        background: #f2f2f2; }
    /* line 537, sass/globalhungary.scss */
    .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li.mainhead {
      background: #26292b;
      line-height: 55px;
      height: 55px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.1em; }
    /* line 546, sass/globalhungary.scss */
    .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li.logout {
      border-top: 1px solid #f1f1f1; }
      /* line 548, sass/globalhungary.scss */
      .gh_control_panel .gn_control_content_container .gh_control_sidebar ul li.logout a {
        font-size: 0.8em;
        color: #d49496; }
  /* line 557, sass/globalhungary.scss */
  .gh_control_panel .gn_control_content_container .gh_control_content_holder {
    margin-left: 20%;
    padding: 15px 0 0 15px; }
    /* line 561, sass/globalhungary.scss */
    .gh_control_panel .gn_control_content_container .gh_control_content_holder .heading {
      margin-bottom: 25px; }
      /* line 563, sass/globalhungary.scss */
      .gh_control_panel .gn_control_content_container .gh_control_content_holder .heading h1 {
        font-size: 36px !important;
        line-height: 1.2;
        margin: 0 0 5px 0; }
      /* line 568, sass/globalhungary.scss */
      .gh_control_panel .gn_control_content_container .gh_control_content_holder .heading h1 + div.desc {
        color: #adadad;
        font-size: 1.1em; }

/* line 579, sass/globalhungary.scss */
.alert {
  position: relative;
  padding-left: 50px; }
  /* line 582, sass/globalhungary.scss */
  .alert:before {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    left: 15px; }
  /* line 591, sass/globalhungary.scss */
  .alert.alert-danger {
    color: #b51a18;
    background-color: #ffe9e9;
    border-color: #fdcccb; }
    /* line 596, sass/globalhungary.scss */
    .alert.alert-danger:before {
      content: "\f071"; }
  /* line 601, sass/globalhungary.scss */
  .alert > h3 {
    margin: 0 0 5px 0; }

/* line 606, sass/globalhungary.scss */
#toTop {
  bottom: 25px;
  right: 25px;
  background: #f5f5f5;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  line-height: 60px;
  height: 45px;
  -moz-box-shadow: 1px 1px 3px -1px black;
  -webkit-box-shadow: 1px 1px 3px -1px black;
  box-shadow: 1px 1px 3px -1px black; }
  /* line 619, sass/globalhungary.scss */
  #toTop:before {
    color: #b2b2b2 !important;
    font-size: 36px; }
  /* line 625, sass/globalhungary.scss */
  #toTop:hover:before {
    color: white !important; }

/* line 632, sass/globalhungary.scss */
.gh_control_properties_page .adv-inf {
  color: #8c8c8c; }
  /* line 635, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .img {
    float: left;
    margin: 0 10px 0 0;
    width: 50px;
    max-width: 50px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    /* line 644, sass/globalhungary.scss */
    .gh_control_properties_page .adv-inf .img img {
      width: 100%; }
  /* line 648, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .main-row {
    font-size: 1.25em;
    line-height: 1;
    padding: 5px 0; }
  /* line 653, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .alt-row {
    font-size: 0.85em; }
  /* line 656, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .region {
    color: #444444;
    font-weight: bold; }
  /* line 660, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .title {
    font-weight: bold;
    color: #222222; }
  /* line 667, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .ref-number {
    background: #8c8c8c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px; }
  /* line 680, sass/globalhungary.scss */
  .gh_control_properties_page .adv-inf .price {
    color: #e31f24;
    font-weight: bold;
    margin-right: 5px; }

/* line 688, sass/globalhungary.scss */
.listing-searcher-holder {
  background: #ffffff;
  border: 1px solid #cccfd1;
  width: 90%;
  margin: 0 auto;
  position: relative; }
  /* line 695, sass/globalhungary.scss */
  .listing-searcher-holder .searcher-header {
    position: absolute;
    left: -1px;
    top: -50px; }
    /* line 700, sass/globalhungary.scss */
    .listing-searcher-holder .searcher-header ul {
      margin: 0;
      padding: 0; }
      /* line 703, sass/globalhungary.scss */
      .listing-searcher-holder .searcher-header ul li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        margin-right: 5px; }
        /* line 710, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-header ul li input[type=radio] {
          display: none; }
        /* line 714, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-header ul li label {
          cursor: pointer;
          position: relative;
          display: block;
          height: 50px;
          line-height: 50px;
          background: #26292b;
          color: white;
          padding: 0 15px 0 35px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Arial'; }
          /* line 727, sass/globalhungary.scss */
          .listing-searcher-holder .searcher-header ul li label:before {
            font-family: 'FontAwesome';
            content: "\f111";
            position: absolute;
            left: 12px;
            font-weight: normal;
            color: #c7c7c7; }
        /* line 737, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-header ul li input[type=radio]:checked + label {
          background: #e31f24; }
          /* line 739, sass/globalhungary.scss */
          .listing-searcher-holder .searcher-header ul li input[type=radio]:checked + label:before {
            content: "\f192";
            color: white; }
        /* line 745, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-header ul li .ico {
          background: #cf1a1e;
          height: 50px;
          text-align: center;
          padding: 0 15px; }
          /* line 751, sass/globalhungary.scss */
          .listing-searcher-holder .searcher-header ul li .ico i {
            color: white;
            padding: 0;
            margin: 0;
            height: 50px;
            font-size: 24px;
            line-height: 50px; }
        /* line 761, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-header ul li:first-child {
          margin-right: 0; }
  /* line 767, sass/globalhungary.scss */
  .listing-searcher-holder .searcher-wrapper {
    padding: 10px 15px; }
    /* line 770, sass/globalhungary.scss */
    .listing-searcher-holder .searcher-wrapper .form-items {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-end; }
      /* line 776, sass/globalhungary.scss */
      .listing-searcher-holder .searcher-wrapper .form-items .inp {
        padding: 8px; }
        /* line 779, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp label {
          line-height: 1;
          color: #878787;
          margin-bottom: 10px;
          display: block; }
        /* line 786, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit {
          text-align: right; }
          /* line 788, sass/globalhungary.scss */
          .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button {
            color: white;
            background: #af161a;
            line-height: 36px;
            padding: 0 15px;
            height: 36px;
            width: 100%;
            font-family: 'Arial';
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            font-size: 1em;
            position: relative;
            text-align: right; }
            /* line 803, sass/globalhungary.scss */
            .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button i {
              background: #e31f24;
              position: absolute;
              left: 0;
              line-height: 24px;
              text-align: center;
              color: #fff;
              padding: 0 5px;
              margin: 6px 0 0 5px; }
            /* line 814, sass/globalhungary.scss */
            .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit button:hover {
              background: #e31f24;
              cursor: pointer; }
        /* line 821, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-city {
          flex-basis: 40%; }
        /* line 824, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-rooms {
          flex-basis: 15%; }
        /* line 827, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-alapterulet {
          flex-basis: 15%; }
        /* line 830, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-kategoria {
          flex-basis: 30%; }
        /* line 833, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-azonosito {
          flex-basis: 20%; }
        /* line 836, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-status {
          flex-basis: 25%; }
        /* line 839, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-price-min {
          flex-basis: 20%; }
        /* line 842, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-price-max {
          flex-basis: 20%; }
        /* line 845, sass/globalhungary.scss */
        .listing-searcher-holder .searcher-wrapper .form-items .inp.inp-submit {
          flex-basis: 15%; }
      /* line 852, sass/globalhungary.scss */
      .listing-searcher-holder .searcher-wrapper .form-items input[type=text],
      .listing-searcher-holder .searcher-wrapper .form-items input[type=number],
      .listing-searcher-holder .searcher-wrapper .form-items select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        border: 1px solid #cccccc;
        font-size: 1.2em;
        color: #e31f24; }
  /* line 863, sass/globalhungary.scss */
  .listing-searcher-holder .searcher-footer {
    padding: 15px;
    background: #f2f2f2;
    border-top: 1px solid #cccfd1; }

/* line 871, sass/globalhungary.scss */
.listing-sc .header {
  position: relative;
  border-bottom: 1px solid #e8e8e0;
  padding: 10px 0;
  margin-bottom: 25px; }
  /* line 873, sass/globalhungary.scss */
  .listing-sc .header .morev {
    position: absolute;
    right: 0; }
    /* line 877, sass/globalhungary.scss */
    .listing-sc .header .morev a:link, .listing-sc .header .morev a:visited {
      color: #cccfd1; }
    /* line 881, sass/globalhungary.scss */
    .listing-sc .header .morev a:hover {
      color: #e31f24; }
    /* line 885, sass/globalhungary.scss */
    .listing-sc .header .morev i {
      font-size: 34px;
      line-height: 1;
      margin: 0;
      padding: 0; }
  /* line 892, sass/globalhungary.scss */
  .listing-sc .header h2 {
    text-transform: uppercase;
    color: #b2b2b2;
    font-family: 'Arial' !important;
    font-size: 2.2em !important;
    line-height: 1 !important;
    margin: 0 0 0 50px !important; }
/* line 905, sass/globalhungary.scss */
.listing-sc .listing-list-set-watchnow {
  border: 10px solid #cccfd1; }
  /* line 907, sass/globalhungary.scss */
  .listing-sc .listing-list-set-watchnow .header {
    border-bottom: none;
    margin-bottom: 13px; }
    /* line 910, sass/globalhungary.scss */
    .listing-sc .listing-list-set-watchnow .header h2 {
      margin: 0 !important;
      text-align: center;
      font-size: 2em !important; }

/* line 919, sass/globalhungary.scss */
.prop-list {
  margin: -10px; }
  /* line 922, sass/globalhungary.scss */
  .prop-list .prop-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    /* line 927, sass/globalhungary.scss */
    .prop-list .prop-wrapper > .prop-item {
      width: calc(100% / 3);
      padding: 10px; }
      /* line 931, sass/globalhungary.scss */
      .prop-list .prop-wrapper > .prop-item .prop-item-wrapper {
        position: relative; }
        /* line 933, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .top-wp {
          position: relative; }
        /* line 937, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features > div {
          position: absolute;
          z-index: 100;
          color: white;
          font-size: 0.8em;
          padding: 4px 8px;
          pointer-events: none; }
        /* line 946, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status {
          background: #26292b; }
          /* line 949, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status.status-elado {
            background: #e31f24; }
          /* line 952, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .status.status-berbeado {
            background: #ffa700; }
        /* line 957, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .newi {
          bottom: -13px;
          line-height: 1;
          padding: 5px;
          right: 22px;
          background: #e31f24;
          text-transform: uppercase; }
        /* line 966, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .features .highlight {
          top: 0;
          right: 0;
          background: #e31f24; }
        /* line 972, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image {
          position: relative;
          width: 100%;
          height: 220px;
          overflow: hidden; }
          /* line 978, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image img {
            height: 110%;
            max-height: 110%;
            width: auto;
            max-width: initial;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          /* line 990, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .image .excerpt {
            padding: 7px;
            font-size: 0.7em;
            line-height: 1.4;
            color: #f4f4f4;
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            width: 100%;
            pointer-events: none; }
        /* line 1004, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line {
          display: flex;
          width: 100%; }
          /* line 1008, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line > .pos {
            flex-basis: 75%;
            text-align: left;
            padding: 10px; }
            /* line 1013, sass/globalhungary.scss */
            .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line > .pos .region {
              font-weight: bold;
              font-size: 0.94em;
              font-family: 'Arial', sans; }
          /* line 1019, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line > .fav {
            flex-basis: 25%;
            text-align: center; }
            /* line 1023, sass/globalhungary.scss */
            .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .prim-line > .fav i {
              line-height: 63px;
              font-size: 24px;
              padding: 0;
              margin: 0;
              cursor: pointer; }
        /* line 1032, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line {
          display: flex;
          width: 100%;
          align-items: center; }
          /* line 1037, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line > .price {
            flex-basis: 70%;
            padding: 8px 10px;
            font-size: 1.45em; }
          /* line 1042, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line > .linkto {
            flex-basis: 30%;
            text-align: center;
            padding: 5px; }
            /* line 1046, sass/globalhungary.scss */
            .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .sec-line > .linkto a {
              padding: 5px 0;
              font-size: 0.9em;
              display: block;
              border-radius: 5px; }
        /* line 1056, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper:hover .excerpt {
          bottom: 0%; }
        /* line 1061, sass/globalhungary.scss */
        .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options {
          display: flex;
          width: 100%;
          background: #f5f5f5; }
          /* line 1066, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt {
            flex-basis: 25%;
            font-size: 0.7em;
            border-right: 1px solid #cccccc; }
            /* line 1071, sass/globalhungary.scss */
            .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .head {
              background: #8a8a8a;
              color: white;
              font-size: 0.8em;
              padding: 2px 0;
              text-align: center;
              border-bottom: 1px solid #cccccc; }
            /* line 1079, sass/globalhungary.scss */
            .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d {
              padding: 5px 0;
              line-height: 16px;
              font-size: 0.9em;
              color: #91999c;
              text-align: center; }
              /* line 1085, sass/globalhungary.scss */
              .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .ico {
                height: 16px;
                float: left;
                margin: 0 0 0 5px; }
                /* line 1089, sass/globalhungary.scss */
                .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt .d .ico img {
                  height: 100%; }
          /* line 1096, sass/globalhungary.scss */
          .prop-list .prop-wrapper > .prop-item .prop-item-wrapper .important-options > .opt:last-child {
            border-right: none; }
  /* line 1105, sass/globalhungary.scss */
  .prop-list.style-standard .prop-item-wrapper {
    border: 1px solid #d9d9d9; }
    /* line 1108, sass/globalhungary.scss */
    .prop-list.style-standard .prop-item-wrapper .image .excerpt {
      background: rgba(214, 44, 48, 0.8);
      padding: 10px;
      font-size: 0.8em;
      color: white; }
    /* line 1116, sass/globalhungary.scss */
    .prop-list.style-standard .prop-item-wrapper .prim-line {
      background: #323639;
      color: #f5f5f5; }
      /* line 1119, sass/globalhungary.scss */
      .prop-list.style-standard .prop-item-wrapper .prim-line > .fav {
        border-left: 1px solid #3e4346; }
        /* line 1122, sass/globalhungary.scss */
        .prop-list.style-standard .prop-item-wrapper .prim-line > .fav i {
          color: #565d61; }
          /* line 1124, sass/globalhungary.scss */
          .prop-list.style-standard .prop-item-wrapper .prim-line > .fav i:hover, .prop-list.style-standard .prop-item-wrapper .prim-line > .fav i.active {
            color: #e9f91a; }
    /* line 1130, sass/globalhungary.scss */
    .prop-list.style-standard .prop-item-wrapper .sec-line {
      background: #d62c30;
      color: #f5f5f5; }
      /* line 1135, sass/globalhungary.scss */
      .prop-list.style-standard .prop-item-wrapper .sec-line > .linkto a {
        background: #b8171b;
        color: #f5f5f5; }
  /* line 1145, sass/globalhungary.scss */
  .prop-list.style-simple-priced .prop-item-wrapper {
    border: 1px solid #d9d9d9; }
    /* line 1147, sass/globalhungary.scss */
    .prop-list.style-simple-priced .prop-item-wrapper .image {
      height: 180px !important; }
      /* line 1149, sass/globalhungary.scss */
      .prop-list.style-simple-priced .prop-item-wrapper .image .excerpt {
        background: rgba(214, 44, 48, 0.8);
        padding: 10px;
        font-size: 0.8em;
        color: white; }
    /* line 1156, sass/globalhungary.scss */
    .prop-list.style-simple-priced .prop-item-wrapper .sec-line {
      background: #d62c30;
      color: #f5f5f5; }
      /* line 1160, sass/globalhungary.scss */
      .prop-list.style-simple-priced .prop-item-wrapper .sec-line .price {
        flex-basis: 100% !important;
        text-align: center; }
  /* line 1168, sass/globalhungary.scss */
  .prop-list.style-simple {
    margin: 0; }
    /* line 1170, sass/globalhungary.scss */
    .prop-list.style-simple .prop-item {
      padding: 5px 10px !important; }
    /* line 1173, sass/globalhungary.scss */
    .prop-list.style-simple .prop-item-wrapper {
      border: 1px solid #d9d9d9; }
      /* line 1175, sass/globalhungary.scss */
      .prop-list.style-simple .prop-item-wrapper .newi {
        bottom: -32px !important;
        right: 0 !important;
        line-height: 32px !important;
        padding: 0 !important;
        text-align: center !important;
        width: 32px !important; }
      /* line 1183, sass/globalhungary.scss */
      .prop-list.style-simple .prop-item-wrapper .image {
        height: 180px !important; }
        /* line 1185, sass/globalhungary.scss */
        .prop-list.style-simple .prop-item-wrapper .image .excerpt {
          background: rgba(214, 44, 48, 0.8);
          padding: 10px;
          font-size: 0.8em;
          color: white; }
      /* line 1192, sass/globalhungary.scss */
      .prop-list.style-simple .prop-item-wrapper .line-region {
        background: #333b3b;
        color: #f5f5f5;
        padding: 5px 10px; }
      /* line 1197, sass/globalhungary.scss */
      .prop-list.style-simple .prop-item-wrapper .line-price {
        background: #91999c;
        color: #f5f5f5;
        padding: 5px 10px; }
  /* line 1207, sass/globalhungary.scss */
  .prop-list.im1 .prop-wrapper .prop-item {
    width: calc(100% / 1); }
  /* line 1215, sass/globalhungary.scss */
  .prop-list.im4 .prop-wrapper .prop-item {
    width: calc(100% / 4); }
  /* line 1222, sass/globalhungary.scss */
  .prop-list.im5 .prop-wrapper .prop-item {
    width: calc(100% / 5); }

/* line 1229, sass/globalhungary.scss */
.transf {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s; }
