@import 'settings';

.fusion-main-menu{
  position: absolute;
  float: none;
  bottom: 0;
  right: 0;
}

body, html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+50,f5f5f5+100 */
background: rgb(245,245,245); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 50%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 50%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 50%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */

}

body.home {
  #main {
    margin-top: -150px;
  }
}

.avada-skin-rev {
  border: none !important;
}

input[type=checkbox]{
  display: none;
}
input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;

  &:before {
    content: "\f096";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #a7a7a7;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}
input[type=checkbox]:checked + label {
  &:before {
    content: "\f046";
    color: #000000;
  }
}

.boxed-labels{
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    background: #ebeded;
    border: 2px solid #d9d9d9;
    padding: 8px;
    text-align: left;
    padding-left: 30px;
    color: $color-sec !important;

    &:before {
      content: "\f0c8";
      font-family: 'FontAwesome';
      position: absolute;
      left: 8px;
      color: #ffffff;
    }
  }
  input[type=checkbox]:checked + label {
    background: #bf393c;
    border: 2px solid #a92b2e;
    color: white !important;

    &:before {
      content: "\f046";
      color: #ffffff;
    }
  }
}

.fusion-main-menu > ul > li{
  position: relative;
  border-right: 2px solid #333b3b;
  padding: 0 20px 0 45px !important;

  &:before {
    content:"";
    width: 24px;
    height: 45px;
    line-height: 45px;
    background-image: url("../../images/menu-li-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 10px;
    top: -2px;
  }
}

.trans-on,
.fusion-social-network-icon {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#main {
  background-image: url('../../images/cityscape-overlay-bottom-fullwidth.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
  min-height: 350px;
}

.top-float-menubar{
  color: #91999c;
  position: absolute;
  right: 0;
  top: 0;

  a{
     color: #91999c;
  }

  .menu-holder{
    & > div {
      margin: 0 ;
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      line-height: 45px;
    }

    .accounts{
      border: 1px solid #333b3b;
      border-top: none;
      margin: 0 0 0 -1px;

      a {
        display: block;
        padding: 0 20px;
      }

      .ico {
        float: left;
        margin-right: 5px;
        img {
          height: 45px;
          width: 20px;
          margin-top: -4px;
        }
      }
    }

    .notify-icos {
      height: 45px;
      line-height: 45px;
      a {
        display: block;
        padding: 0 15px;
      }

      & > div {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        line-height: 45px;
        height: 45px;
        max-height: 45px;
        position: relative;

        a{
          margin: 0 0 0 -1px;
          border: 1px solid #333b3b;
          border-top: none;
          height: 45px;

          &:hover {
            background: darken($color-sec, 10%);
          }
        }

        .fnl {
          position: absolute;
          background: #f00;
          line-height: 18px;
          font-size: 9px;
          color: #fff;
          border-radius: 40px;
          width: 18px;
          font-weight: bold;
          text-align: center;
          bottom: -8px;
          right: 5px;
        }
      }

      .notify-favorite {
        img{
          height: 44px;
          width: 18px;
          line-height: 44px;
        }
      }
      .notify-newhouse {
        img{
          height: 45px;
          width: 22px;
          line-height: 45px;
        }
      }
    }

    .contact {
      border: 1px solid #333b3b;
      border-top: none;
      padding: 0 20px;
      font-size: 1.5em;
      color: #b2b2b2;
      font-weight: bold;

      i{
        margin-right: 8px;
      }
    }

    .socials{
      .fusion-social-networks .fusion-social-networks-wrapper{
        margin: 0 !important;
      }
      .fusion-social-networks .fusion-social-network-icon{
        margin: 0 0 0 -1px !important;
        padding: 0 15px !important;
        height: 46px !important;
        line-height: 45px !important;
        border: 1px solid #333b3b !important;
        border-top: none !important;

        &.fusion-facebook:hover {
          background: #3762bd;
          &:before{
            color: white !important;
          }
        }
        &.fusion-googleplus:hover {
          background: #fd552d;
          &:before{
            color: white !important;
          }
        }
      }
    }
  }
}

.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left {
  text-align: left;
}

.data-table{
  border: 1px solid #e4e4e4;
  background: #ffffff;
  margin-top: 15px;
  .data-head{
    border-bottom: 2px solid $color-pr;
    .row{
      margin: 0;
      & > div[class*=col-md]{
        padding: 10px 5px;
        font-size: 0.8em;
        color: #888888;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  .data-body{
    font-size: 0.8em;
    .row{
      margin: 0;
      & > div[class*=col-md]{
        padding: 10px;
      }
    }
    .row:nth-child(even){
      background: #f7f7f7;
    }
  }
}

h1 .badge {
  background: #d9d9d9;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  color: #888;
}

small.inputhint{
  color: #9c9c9c;
}

h1 .region{
  font-size: 0.65em;
  color: #c34646;
}

.submit-property{
  margin: 50px 0 50px 0;

  button[type=submit] {
    cursor: pointer;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    background: $color-pr;
    font-size: 1.2em;
    border: 2px solid #d9d9d9;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1;
    &:hover {
      background: darken($color-pr, 10%);
    }
  }
}

.dashboard-label{
  &.status-label {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 20px;
    font-size: 0.8em;
    font-weight: bold;
  }
}

form.wide-form{
  .row{
    label {
      color: #696969;
      font-size: 0.9em;
      margin-bottom: 5px;
      display: block;
    }
    input[type=text],
    input[type=number],
    select,
    textarea{
      line-height: 40px;
      height: 40px;
      padding: 0 8px;
      font-size: 1.3em;
      border: 1px solid #c3c3c3;
      -webkit-box-shadow: inset 0 -2px 0 #e2e2e2;
      -moz-box-shadow: inset 0 -2px 0 #e2e2e2;
      box-shadow: inset 0 -2px 0 #e2e2e2;
      color: darken($color-pr, 10%);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 100%;
    }

    select, textarea {
      width: 100%;
    }

    .noinp-data{
      line-height: 40px;
      font-size: 1.2em;
      font-weight: bold;
      color: black;
    }

    margin-bottom: 15px;
  }

  h3{
    text-transform: uppercase;
    color: black;
    margin: 40px 0 10px 0;
    font-size: 20px;
  }

  .wp-editor-container{
    border: 1px solid #e5e5e5;
  }
  .wp-editor-wrap{
    margin-top:-30px;
  }
  .reqf > label:after{
    content:" *";
    color: $color-pr;
    font-size: 0.9em;
  }

  .allowvalidate{
    label {
      font-weight: bold;
      font-size: 1.1em;
      color: black;

      &:before {
        margin-top: 4px;
      }
    }
  }
}

footer {
  .fusion-widget-area{
    .fusion-footer-widget-column{
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      margin: 0 -2px;
      width: 60%;
    }
    .fusion-footer-widget-column:first-child,
    .fusion-footer-widget-column:last-child{
      width: 20%;
    }
  }
  .footerlogo-holder{
    margin-top: 20px;
    .logo {
      text-align: center;
      img{
        margin: 0 auto;
        height: 40px;
      }
    }
  }
  .widget .fusion-social-networks .fusion-social-network-icon {
    border: 2px solid #333b3b !important;
    border-top: none;
    margin: 0 -1px;
    padding: 12px;
    font-size: 14px;
  }
  .widget_nav_menu{
    ul.menu {
      margin-top: 20px;
      li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 0 10px;
        border: none !important;

        a {
          color: #e8e8e0;

          &:before {
            display: none;
          }
        }
        &.current-menu-item{
          a {
            color: white !important;
          }
        }
      }
    }
  }
}

.gh_control_panel {
  #main{
    padding-top: 0 !important;
  }

  .gn_control_content_container {
    position: relative;

    .gh_control_sidebar {
      width: 20%;
      background: #ffffff;
      position: absolute;
      left: 0;
      top: -55px;
      -webkit-box-shadow:  0 10px 25px -12px #4f5959;
      -moz-box-shadow:  0 10px 25px -12px #4f5959;
      box-shadow:  0 10px 25px -12px #4f5959;


      ul, li{
        margin: 0;
        padding: 0;
        list-style: none;
      }

      ul {
        li{
          a{
            display: block;
            font-size: 1em;
            padding: 10px;

            i{
              margin-right: 5px;
              width: 16px;
              text-align: center;
            }

            &:hover{
              background: #f2f2f2;
            }
          }
          &.mainhead{
            background: $color-sec;
            line-height: 55px;
            height: 55px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.1em;
          }
          &.logout{
            border-top: 1px solid #f1f1f1;
            a{
              font-size: 0.8em;
              color: desaturate(lighten($color-pr, 20%), 35);
            }
          }
        }
      }
    }

    .gh_control_content_holder{
      margin-left: 20%;
      padding: 15px 0 0 15px;

      .heading{
        margin-bottom: 25px;
        h1 {
          font-size: 36px !important;
          line-height: 1.2;
          margin: 0 0 5px 0;
        }
        h1 + div.desc {
          color: #adadad;
          font-size: 1.1em;
        }
      }
    }

  }

}

.alert{
  position: relative;
  padding-left: 50px;
  &:before{
    content:"";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    left: 15px;
  }
  &.alert-danger{
    color: #b51a18;
    background-color: #ffe9e9;
    border-color: #fdcccb;

    &:before {
      content: "\f071";
    }
  }

  &.alert-success{
    &:before {
      content: "\f058";
    }
  }

  & > h3 {
    margin: 0 0 5px 0;
  }
}

#toTop{
  bottom: 25px;
  right: 25px;
  background: #f5f5f5;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  line-height: 60px;
  height: 45px;
  -moz-box-shadow:1px 1px 3px -1px #000000;
  -webkit-box-shadow: 1px 1px 3px -1px #000000;
  box-shadow: 1px 1px 3px -1px #000000;

  &:before {
    color: #b2b2b2 !important;
    font-size: 36px;
  }

  &:hover {
    &:before {
      color: white !important;
    }
  }
}

.gh_control_properties_page{
  .adv-inf{
    color: #8c8c8c;

    .img {
      float: left;
      margin: 0 10px 0 0;
      width:50px;
      max-width: 50px;
      overflow: hidden;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      img{
        width: 100%;
      }
    }
    .main-row{
      font-size: 1.25em;
      line-height: 1;
      padding: 5px 0;
    }
    .alt-row {
      font-size: 0.85em;
    }
    .region{
      color: #444444;
      font-weight: bold;
    }
    .title{
      font-weight: bold;
      color: #222222;
    }
    .address{

    }
    .ref-number {
      background: #8c8c8c;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.4;
      padding: 0 4px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 5px;
    }

    .price {
      color: $color-pr;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

.listing-searcher-holder {
  background: #ffffff;
  border: 1px solid #cccfd1;
  margin: 0 auto;
  position: relative;

  /* Main home style v1 */
  &.style-v1 {
    width: 90%;
  }
  /* Listing style v2 */
  &.style-v2 {
    width: 100%;
    margin-top: 10px;
  }
  /* Ingatlan style floating */
  &.style-floating {
    width: 320px;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 99999;
  }

  .searcher-header{
    position: absolute;
    left: -1px;
    top: -50px;

    ul {
      margin: 0;
      padding: 0;
      li {
        display:inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: middle;
        margin-right: 5px;

        input[type=radio] {
          display: none;
        }

        label {
          cursor: pointer;
          position: relative;
          display: block;
          height: 50px;
          line-height: 50px;
          background: $color-sec;
          color: white;
          padding: 0 15px 0 35px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Arial';

          &:before {
            font-family: 'FontAwesome';
            content:"\f111";
            position: absolute;
            left: 12px;
            font-weight: normal;
            color: #c7c7c7;
            width: 16px;
            text-align: center;
          }
        }

        input[type=radio]:checked + label {
          background: $color-pr;
          &:before {
            content:"\f192";
            color: white;
          }
        }

        .ico {
          background: darken($color-pr, 5%);
          height: 50px;
          text-align: center;
          padding: 0 15px;

          i{
            color: white;
            padding: 0;
            margin: 0;
            height: 50px;
            font-size: 24px;
            line-height: 50px;
          }
        }

        &:first-child{
          margin-right: 0;
        }
      }
    }
  }
  .searcher-wrapper {
    padding: 10px 15px;

    .form-items {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-end;

      .inp {
        padding: 8px;
        position: relative;

        label {
          line-height: 1;
          color: #878787;
          margin-bottom: 10px;
          display: block;
        }

        &.inp-submit{
          text-align: right;
          button{
            color: white;
            background: darken($color-pr, 12%);
            line-height: 36px;
            padding: 0 15px;
            height: 36px;
            width: 100%;
            font-family: 'Arial';
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            font-size: 1em;
            position: relative;
            text-align: right;

            i{
              background: $color-pr;
              position: absolute;
              left: 0;
              line-height: 24px;
              text-align: center;
              color: #fff;
              padding: 0 5px;
              margin: 6px 0 0 5px;
            }

            &:hover {
              background: $color-pr;
              cursor: pointer;
            }
          }
        }

        &.inp-city{
          flex-basis: 40%;
        }
        &.inp-rooms{
          flex-basis: 15%;
        }
        &.inp-alapterulet{
          flex-basis: 15%;
        }
        &.inp-kategoria{
          flex-basis: 30%;
        }
        &.inp-azonosito{
          flex-basis: 20%;
        }
        &.inp-status{
          flex-basis: 25%;
        }
        &.inp-price-min{
          flex-basis: 20%;
        }
        &.inp-price-max{
          flex-basis: 20%;
        }
        &.inp-submit{
          flex-basis: 15%;
        }
      }

      input[type=text],
      input[type=number],
      select {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        border: 1px solid #cccccc;
        font-size: 1.2em;
        color: $color-pr;
      }
    }
  }
  .searcher-footer {
    padding: 15px;
    background: #f2f2f2;
    border-top: 1px solid #cccfd1;
  }

  /* MOD v2 */
  &.style-v2, &.style-floating {
    .searcher-header {
      left: -1px;
      right: -1px;
      ul {
        width: 100%;
        background: #384040;

        li {
          color: white;
          text-transform: uppercase;
          font-family: 'Arial';
          font-weight: bold;

          .head-title {
            padding-left: 15px;
            display: block;
          }
        }
      }
    }
    .searcher-wrapper{
      .form-items{
        .inp{
          &.inp-city,
          &.inp-kategoria,
          &.inp-status,
          &.inp-azonosito{
            flex-basis: 100%;
          }
          &.inp-alapterulet,
          &.inp-rooms,
          &.inp-price-min,
          &.inp-price-max{
            flex-basis: 50%;
          }
        }
      }
    }
    .submit button {
      display: block;
      width: 100%;
      text-align: center;
      background: #bf2121;
      color: white;
      border: none;
      padding: 15px;
      line-height: 20px;
      cursor: pointer;
      font-size: 1.2em;
      font-family: 'Arial';
      font-weight: bold;
      text-transform: uppercase;

      i {
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
        padding: 0;
      }

      &:hover {
        background: darken(#bf2121, 10%);
      }
    }
  }
  &.style-floating {
    left: -320px;
    .searcher-wrapper{
      padding: 5px;
      .vlabel {
        cursor: pointer;
        background: #B1241C;
        color: white;
        text-transform: uppercase;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        right: -225px;
        top: 128px;
        line-height: 1;
        font-size: 1.1em;
        padding: 15px 80px;
      }
    }

    &.opened{
      left: 0;
    }
  }
}

.listing-sc{
  .header{
    position: relative;
    .morev {
      position: absolute;
      right: 0;

      a:link, a:visited{
        color: #cccfd1;
      }

      a:hover {
        color: $color-pr;
      }

      i{
        font-size: 34px;
        line-height: 1;
        margin: 0;
        padding: 0;
      }
    }
    h2{
      text-transform: uppercase;
      color: #b2b2b2;
      font-family: 'Arial' !important;
      font-size: 2.2em !important;
      line-height: 1 !important;
      margin: 0 0 0 50px !important;
    }
    border-bottom: 1px solid #e8e8e0;
    padding: 10px 0;
    margin-bottom: 25px;
  }

  .listing-list-set-watchnow{
    border: 10px solid #cccfd1;
    .header{
      border-bottom: none;
      margin-bottom: 13px;
      h2 {
        margin: 0 !important;
        text-align: center;
        font-size: 2em !important;
      }
    }
  }
}

.prop-list {
  margin: -10px;

  .prop-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & > .prop-item {
      width: calc(100% / 3);
      padding: 10px;

      .prop-item-wrapper {
        position: relative;
        .top-wp {
          position: relative;
        }
        .features{
          & > div {
            position: absolute;
            z-index: 100;
            color: white;
            font-size: 0.8em;
            padding: 4px 8px;
            pointer-events: none;
          }

          .status {
            background: $color-sec;

            &.status-elado {
              background: $color-pr;
            }
            &.status-berbeado {
              background: #ffa700;
            }
          }

          .newi {
            bottom: -13px;
            line-height: 1;
            padding: 5px;
            right: 22px;
            background: $color-pr;
            text-transform: uppercase;
          }

          .highlight{
            top: 0;
            right: 0;
            background: $color-pr;
          }
        }
        .image{
          position: relative;
          width: 100%;
          height: 172px;
          overflow: hidden;

          img {
            height: 110%;
            max-height: 110%;
            width: auto;
            max-width: initial;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          .excerpt {
            padding: 7px;
            font-size: 0.7em;
            line-height: 1.4;
            color: #f4f4f4;
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            width: 100%;
            pointer-events: none;
          }
        }

        .prim-line {
          display: flex;
          width: 100%;

          & > .pos{
            flex-basis: 75%;
            text-align: left;
            padding: 10px;

            .region {
              font-weight: bold;
              font-size: 0.94em;
              font-family: 'Arial', sans;
            }
          }
          & > .fav{
            flex-basis: 25%;
            text-align: center;

            i{
              line-height: 63px;
              font-size: 24px;
              padding: 0;
              margin: 0;
              cursor: pointer;
            }
          }
        }
        .sec-line {
          display: flex;
          width: 100%;
          align-items: center;

          & > .price{
            flex-basis: 70%;
            padding: 8px 10px;
            font-size: 1.45em;
          }
          & > .linkto{
            flex-basis: 30%;
            text-align: center;
            padding:5px;
            a{
              padding: 5px 0;
              font-size: 0.9em;
              display: block;
              border-radius: 5px;
            }
          }
        }

        &:hover {
          .excerpt {
            bottom: 0%;
          }
        }

        .important-options{
          display: flex;
          width: 100%;
          background: #f5f5f5;

          & > .opt {
            flex-basis: 25%;
            font-size: 0.7em;
            border-right: 1px solid #cccccc;

            .head {
              background: #8a8a8a;
              color: white;
              font-size: 0.8em;
              padding: 2px 0;
              text-align: center;
              border-bottom: 1px solid #cccccc;
            }
            .d {
              padding: 5px 0;
              line-height: 16px;
              font-size: 0.9em;
              color: #91999c;
              text-align: center;
              .ico {
                height: 16px;
                float: left;
                margin: 0 0 0 5px;
                img {
                  height: 100%;
                }
              }
            }
          }

          & > .opt:last-child{
            border-right: none;
          }
        }
      }
    }
  }

  &.style-standard {
    .prop-item-wrapper {
      border: 1px solid #d9d9d9;
      .image{
        .excerpt {
          background: rgba(214, 44, 48, 0.8);
          padding: 10px;
          font-size: 0.8em;
          color: white;
        }
      }

      .prim-line{
        background: lighten($color-sec, 5%);
        color: #f5f5f5;
        & > .fav{
          border-left: 1px solid lighten($color-sec, 10%);

          i{
            color: lighten($color-sec, 20%);
            &:hover, &.active {
              color: #ffffff;
            }
          }
        }
      }
      .sec-line{
        background: desaturate($color-pr, 10);
        color: #f5f5f5;

        & > .linkto{
          a {
            background: darken($color-pr, 10%);
            color: #f5f5f5;
          }
        }
      }
    }
  }

  &.style-simple-priced {
    .prop-item-wrapper {
      border: 1px solid #d9d9d9;
      .image{
        height: 140px !important;
        .excerpt {
          background: rgba(214, 44, 48, 0.81);
          padding: 10px;
          font-size: 0.8em;
          color: white;
        }
      }
      .sec-line{
        background: desaturate($color-pr, 10);
        color: #f5f5f5;

        .price {
          flex-basis: 100% !important;
          text-align: center;
        }
      }
    }
  }

  &.style-simple {
    margin: 0;
    .prop-item {
      padding: 5px 10px !important;
    }
    .prop-item:last-child{
      padding-bottom: 10px !important;
    }
    .prop-item-wrapper {
      border: 1px solid #d9d9d9;
      .newi {
        bottom: -32px !important;
        right: 0 !important;
        line-height: 32px !important;
        padding: 0 !important;
        text-align: center !important;
        width: 32px !important;
      }
      .image{
        height: 140px !important;
        .excerpt {
          background: rgba(214, 44, 48, 0.8);
          padding: 10px;
          font-size: 0.8em;
          color: white;
        }
      }
      .line-region {
        background: #333b3b;
        color: #f5f5f5;
        padding: 5px 10px;
      }
      .line-price {
        background: #91999c;
        color: #f5f5f5;
        padding: 8px 12px;
      }
    }
  }

  &.im1{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 1);
      }
    }
  }

  &.im4{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 4);
      }
    }
  }
  &.im5{
    .prop-wrapper{
      .prop-item{
          width: calc(100% / 5);
      }
    }
  }
}

.ingatlan-page-view{
  .search-side,
  .listing-content {
    display: inline-block;
    vertical-align: top;
    float: left;
  }
  .search-side{
    width: 25%;
    padding-top: 40px;
  }
  .listing-content{
    width: 75%;

    .listing-wrapper{
      padding-left: 25px;

      h1 {
        color: $color-pr;
        font-family: 'Arial';
        margin: 0 0 15px 0;
        line-height: 1;
      }
    }
  }
}

.tglwatcher{
  cursor: pointer;
}

.tglwatcher-wrapper,
.select-wrapper{
  position: relative;
  cursor: pointer;

  &:after {
    pointer-events: none;
    content:"\f0d7";
    font-family: 'FontAwesome';
    right: 0;
    position: absolute;
    top: 0;
    background: #cccccc;
    height: 34px;
    width: 20px;
    text-align: center;
    line-height: 34px;
    color: #fff;
  }
}

.multi-selector-holder{
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: none;

  &.opened {
    display: block;
  }

  .selector-wrapper{
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top: 1px dashed #c9c9c9;
    margin-right: 16px;
    margin-top: -1px;
    -webkit-box-shadow: 0 10px 26px -9px #8e8e8e;
    -moz-box-shadow: 0 10px 26px -9px #8e8e8e;
    box-shadow: 0 10px 26px -9px #8e8e8e;

    .selector-row {
      input[type=checkbox] + label{
        padding: 8px 8px 8px 35px;
        margin: 0 0 1px 0;

        .n {
          color: #d2d2d2;
          font-size: 0.85em;
        }
        &:before {
          left: 10px;
        }
      }
      input[type=checkbox] + label:hover,
      input[type=checkbox]:checked + label {
        background: #585a5d;
        color: white;

        &:before {
          color: white;
        }
      }
    }
  }
}
.ingatlan-page-view{
  .data-top,
  .data-main {
    display: flex;
    width: 100%;

    & > .data-top-left {
      flex-basis: 70%;

      .cwrapper{
        padding-right: 10px;
        position: relative;

        .title{
          h1 {
            margin: 0 0 10px 0;
            font-size: 2em;
            color: $color-pr;
            font-family: 'Arial';
            font-weight: bold;

            .addr{
              font-size: 0.7em;
              color: #333333;
              font-weight: normal;
              margin-left: 15px;
            }
          }
        }

        .images{
          .profil {
            img{
              width: 100%;
              max-width: 100%;
            }
          }
          .stack {
            .stack-wrapper{
              .items {
                width: 100%;
                table-layout: fixed;
                display: table;
                margin-top: -25px;
              }
            }
          }
        }
      }
    }
    & > .data-top-right {
      flex-basis: 30%;
    }

    & > .data-main-left {
      flex-basis: 50%;
    }
    & > .data-main-right {
      flex-basis: 50%;
    }
  }

  .data-main{
    margin: 0 0 20px 0;
  }

  .properties{
    .header {
      padding: 10px 15px;
      background: $color-pr;
      border: 1px solid darken($color-pr, 10%);
      color: white;
      line-height: 26px;

      .old-price {
        float: left;
        text-decoration: line-through;
      }
      .current-price {
        font-family: 'Arial';
        font-weight: bold;
        font-size: 1.6em;
        float: right;
      }
    }

    .list{
      border: 1px solid #d7d7d7;
      border-top: none;

      .e{
        border-bottom: 1px solid #e0dede;
        padding: 10px 0;
        font-size: 0.94em;

        .h,
        .v {
          display: inline-block;
          *display: inline;
          zoom: 1;
          vertical-align: middle;
          width: 50%;
          line-height: 20px;
          margin: 0 -1px;
        }
      }

      .h{
        color:#262D2D;
        padding-left: 25px;
        .ico {
          float:left;
          padding-right: 10px;

          img{
            width: 20px;
            height: 20px;
          }
        }
      }

      .v{
        font-weight: bold;
        font-family: 'Arial';
        color: black;
      }

      .e:nth-child(even) {
        background: #F9F9F9;
      }

      .e:last-child{
        border-bottom: none;
      }
    }

    .cube-properties {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9em;

      .cb {
        color: #cccfd1;
        text-align: center;
        flex-basis: calc(100%/3);
        border-right: 1px solid #f1f1f1;

        .t{
          text-align: center;
          padding: 8px 0;
        }
        .i {
          position: relative;
          margin: 0 auto 10px auto;
          width: 20px;
          height:20px;

          &:before {
            font-family: 'FontAwesome';
            content:"\f1db";
            position: absolute;
            line-height: 20px;
            top: 0;
            right: 0;
            left: 0;
            font-size: 20px;
          }
        }

        &.cb-yes {
          color: black;
          .i:before {
            content:"\f058";
          }
        }
      }
      .cb:nth-child(3n) {
        border-right: none;
      }
    }
  }

  .ref-number{
    background: lighten($color-sec, 10%);
    color: white;
    padding: 15px;
    font-size: 0.85em;
    line-height: 24px;

    .n {
      text-align: right;
    }
    strong {
      font-size: 1.8em;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  .contact{
    background: #EFEFEF;
    padding: 15px;
    text-align: center;
    border: 1px solid #C1C4C6;
    border-top: none;
    line-height: 1.6;

    i {
      margin-right: 8px;
      color: #8c8c8c;
    }

    .title {
      color: $color-pr;
      margin-bottom: 10px;
    }
    .name {
      font-size: 1.1em;
      color: black;
    }
    .phone{
      color: $color-pr;

      i{color: $color-pr;}
    }
    .email{
      a, a:link, a:visited {
        color: #333333 !important;
        text-decoration: underline !important;
      }
    }
  }

  .description-block{
    border:1px solid #e0dede;
    margin-right: 5px;

    .head{
      border-bottom: 1px solid #e0dede;
      background: #F9F9F9;
      line-height: 50px;
      color: $color-pr;
      font-size: 1.2em;

      .ico {
        float: left;
        border-right: 1px solid #e0dede;
        text-align: center;
        width: 50px;
        margin-right: 15px;

        i{
          font-size: 24px;
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }
      }
    }

    .text {
      padding: 15px;
      font-size: 0.9em;
      color: black;

      strong{
        font-family: 'Arial';
        font-weight: bold;
      }
    }
  }

  .map-block{
    border: 1px solid #e0dede;
    min-height: 200px;
    margin-left: 5px;
  }

  .history-list{
    .header {
      text-align: center;
      h2{
        margin: 0;
      }
    }
  }
}
.transf {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  transition: all .6s;
}

.map-container{
  &.gps-map {
    .map-gps-selected{
      width: 50%;
      margin: 10px auto;
      text-align: center;

      .lat, .lng {
        background: #ef5659;
        color: #fff;
        padding: 5px 15px;
        border-radius: 4px;

        &.setted {
          background: #5fb55f;
        }
      }

      .sep {
        padding: 0 10px;
        font-size: 22px;
      }
    }
  }
}
